@use "../abstract/variable" as *;

.navigation{
    display: flex;
    justify-content: space-between;
    padding: 1.8rem 2.8rem;
    align-items: center;
    background-color: #ECF2F7;
    // &__logo{

    // }

    &__list{
        font-size: $Defaultfont-size;
        list-style: none;
        display: flex;
        align-items: center;
        transition: all 2s;
        
    }
    &__logo{
        display: flex;
    }
    &__item {
        &:not(:last-child){
            margin-right: 2.8rem;
        }
        
    }
    &__link{
        color: #080704;
        font-family: inherit;
        text-decoration: none;
        transition: all .4s;

        &:hover{
            color: rgb(9, 138, 244);
        }
    }
    &__btn{
        text-align: center;
        font-size: inherit;
        font-family: inherit;
        background: $color-secondary;
        padding: .8rem 1.9rem;
        color: white;
        border: none;
        border-radius: 1.1rem;
        cursor: pointer;
        transition: all .3s;

        &:hover{
            background:linear-gradient(90deg,red,blue) ;
           transform: translateY(-.5rem);
        }
        
    }
   
}